<h3>X Axis</h3>
{{#paper-select item-label-callback=scaleDisplayName model=xScaleName label="Scale"}}
  {{#paper-option value="linear-scale"}}Linear{{/paper-option}}
  {{#paper-option value="log-scale"}}Log{{/paper-option}}
  {{#paper-option value="pow-scale"}}Pow{{/paper-option}}
  {{#paper-option value="sqrt-scale"}}Sqrt{{/paper-option}}
{{/paper-select}}

{{component xScaleName scaleProperty="xScale"}}

<h3>Y Axis</h3>
{{#paper-select item-label-callback=scaleDisplayName model=yScaleName label="Scale"}}
  {{#paper-option value="linear-scale"}}Linear{{/paper-option}}
  {{#paper-option value="log-scale"}}Log{{/paper-option}}
  {{#paper-option value="pow-scale"}}Pow{{/paper-option}}
  {{#paper-option value="sqrt-scale"}}Sqrt{{/paper-option}}
{{/paper-select}}

{{component yScaleName scaleProperty="yScale" domainMin=100 domainMax=0}}

{{#paper-card}}
  {{#paper-card-content}}
    <h3>Result</h3>
    {{#d3-svg class="axis" width=600 height=550}}
      <defs>
        <clippath id="clip-body">
          <rect x=-5 y=0 width=600 height=550></rect>
        </clippath>
      </defs>
      {{d3-grid class="grid" orientation="bottom" scale=xScale width=550 height=yGridHeight transform=yTranslate}}
      {{d3-grid class="grid" orientation="left" scale=yScale width=xGridWidth height=500 transform="translate(45,25)"}}
      {{d3-axis class="axis" orientation="bottom" scale=xScale transform=xTranslate}}
      {{d3-axis class="axis" orientation="left" scale=yScale transform="translate(45,25)"}}
      {{d3-plot plotter=plotter translateX=45 translateY=25}}
    {{/d3-svg}}
  {{/paper-card-content}}
{{/paper-card}}
