<div layout="row" layout-sm="column">
  {{inputs/domain-range-input domainMin=domainMin domainMax=domainMax}}
  {{inputs/range-input rangeMin=rangeMin rangeMax=rangeMax}}

  {{#paper-card}}
    {{#paper-card-content}}
      <h3>Options</h3>
      {{paper-input value=scale.exponent label="Exponent"}}
    {{/paper-card-content}}
  {{/paper-card}}
</div>

<h3>Code</h3>
<pre>
  #import PowScale from 'ember-d3-components/utils/scales/d3-pow-scale';
  PowScale.create({ domain: [{{domainMin}}, {{domainMax}}], range: [{{rangeMin}}, {{rangeMax}}], exponent: {{scale.exponent}}{{#if scale.clamp}}, clamp: true{{/if}} });
</pre>
