<div layout="row" layout-sm="column">
  {{inputs/domain-range-input domainMin=domainMin domainMax=domainMax}}
  {{inputs/range-input rangeMin= rangeMin rangeMax=rangeMax}}

  {{#paper-card}}
    {{#paper-card-content}}
      <h3>Options</h3>
      {{#paper-checkbox checked=rangeRound}}RangeRound{{/paper-checkbox}}
      {{#paper-checkbox checked=scale.clamp}}Clamp{{/paper-checkbox}}
    {{/paper-card-content}}
  {{/paper-card}}
</div>

<h3>Code</h3>
<pre>
  #import LogScale from 'ember-d3-components/utils/scales/d3-log-scale';
  LogScale.create({ domain: [{{domainMin}}, {{domainMax}}], range: [{{rangeMin}}, {{rangeMax}}]{{#if scale.clamp}}, clamp: true{{/if}} });
</pre>
