<div layout="row" layout-sm="column">
  {{inputs/domain-range-input domainMin=domainMin domainMax=domainMax}}
  {{inputs/range-input rangeMin= rangeMin rangeMax=rangeMax}}
</div>

<h3>Code</h3>
<pre>
  SqrtScale.create({ domain: [{{domainMin}}, {{domainMax}}], range: [{{rangeMin}}, {{rangeMax}}]{{#if scale.clamp}}, clamp: true{{/if}} });
</pre>
